.login{
    background-image: url(cybersecurity.jpg);
    height: 100%;
    position: absolute;
    width:100% ;
    background-size: cover;
}

.titre{
    color:black
    
    ;
    text-align:center;
}

.categorie{
    text-align: center;
}

