.login{
    background-image: url(./bitcoinimage2.jpg);
    height: 100%;
    position: absolute;
    width:100% ;
    background-size: cover;
}
.titre{
    color: greenyellow;
    text-align: center;
}
.categorie{
    text-align: center;
}
  
